<section class="nft">
    <a class="nft-link" href="#">
        <div class="nft-card">
            <img src="../../../../assets/nft-card/image-equilibrium.jpg" alt="nft-img" class="nft-card-img">
            <div class="nft-card-info">
                <h1 class="nft-card-info-title">Equilibrium #3429</h1>
                <p class="nft-card-info-text">
                    Our Equilibrium collection promotes balance and calm.
                </p>
                <span class="nft-card-info-icons">
                    <span> <i> <img src="../../../../assets/nft-card/icon-ethereum.svg" alt=""> </i> 0.041 ETH</span>
                    <span> <i> <img src="../../../../assets/nft-card/icon-clock.svg" alt=""> </i> 3 days left</span>
                </span>
                <span class="nft-card-info-profile">
                    <img src="../../../../assets/nft-card/image-avatar.png" alt="" class="nft-card-info-profile-img">
                    <p class="nft-card-info-profile-text">Creation of <span>Jules Wyvern</span> </p>
                </span>
            </div>
        </div>
    </a>
</section>