<section class="profile-area">
    <div class="profile-card">
        <div class="profile-card-header">
            <img src="../../../../assets/profile-card/bg-pattern-card.svg" alt="profile-card-img"
                class="profile-card-header-img-background">
            <img src="../../../../assets/profile-card/image-victor.jpg" alt="profile-card-img"
                class="profile-card-header-img-photo">
        </div>
        <div class="profile-card-info">
            <p class="profile-card-info-name">Victor Crest <span>26</span> </p>
            <span class="profile-card-info-location">London</span>
        </div>
        <div class="profile-card-activity">
            <div class="profile-card-activity-numbers">
                <h1>80K</h1>
                <span>Followers</span>
            </div>
            <div class="profile-card-activity-numbers">
                <h1>803K</h1>
                <span>Likes</span>
            </div>
            <div class="profile-card-activity-numbers">
                <h1>1.4K</h1>
                <span>Photos</span>
            </div>
        </div>
    </div>
</section>