<section class="order-summary">
    <div class="order-summary-card">
        <img src="../../../../assets/order-summary/illustration-hero.svg" alt="order-card-img"
            class="order-summary-card-img">
        <div class="order-summary-card-info">
            <h1 class="order-summary-card-info-title">Order Summary</h1>
            <p class="order-summary-card-info-text">
                You can now listen to millions of songs, audiobooks, and podcastson any device, anywhare you like!
            </p>
            <div class="order-summary-card-info-plan">
                <div class="order-summary-card-info-plan-price">
                    <i> <img src="../../../../assets/order-summary/icon-music.svg" alt="music-icon"> </i>
                    <span class="order-summary-card-info-plan-promo">
                        <p>
                            <span> Annual Plan </span> $59.99/year
                        </p>
                    </span>
                </div>
                <button class="order-summary-card-info-plan-button">
                    Change
                </button>
            </div>
            <div class="order-summary-card-button">
                <button class="order-summary-card-button-payment">
                    Proceed to Payment
                </button>
                <button class="order-summary-card-button-cancel">
                    Cancel Order
                </button>
            </div>
        </div>
    </div>
</section>