<section class="preview-product">
    <div class="preview-product-card">
        <img class="preview-product-card-img-desktop" src="../../../../assets/product-preview/image-product-desktop.jpg"
            alt="product">
        <img class="preview-product-card-img-mobile" src="../../../../assets/product-preview/image-product-mobile.jpg"
            alt="product">
        <div class="preview-product-card-info">
            <span class="preview-product-card-info-type">Perfume</span>
            <span class="preview-product-card-info-name">Gabrielle Essence Eau de Parfum</span>
            <p class="preview-product-card-info-description">
                A floral, solar and vuluptuous interpretation composed by Oliver Polge, Perfume-
                Creator for the House of CHANNEL.
            </p>
            <div class="preview-product-card-info-price">
                <span class="preview-product-card-info-price-promo">
                    $149.99
                </span>
                <span class="preview-product-card-info-price-normal">
                    $169.99
                </span>
            </div>
            <button class="preview-product-card-info-button">
                <i>
                    <img src="../../../../assets/product-preview/icon-cart.svg" alt="">
                </i>
                Add to Cart
            </button>
        </div>
    </div>
</section>